doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='dashboard.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='dashboard.js')
    style.
      .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
      }
      .modal-footer {
      background-color: #f9f9f9;
      }
  body
    .container
      .row
        .col-md-12
          h3.heading
            | Book Display
      .row
        each book, index in books
          .col-md-4
            p
              .thumbnail
                .caption
                  p Thumbnail description
                  p
                    a.label.label-default(href='', rel='tooltip', title='View Privacy Settings') Hi
                img(src=imgs, alt="Image not found", class="bookcover")
              input(type='button', value='#{book}', onclick="location.href = 'http://localhost:80/book#{index+1}'")
              // Trigger the modal with a button
              button#myBtn.glyphicon.glyphicon-cog.btn.btn-primary.btn-xs(type='button', data-toggle='modal', data-target="#mymod#{index}")
              // Modal
              div(id='mymod#{index}' class="modal fade" tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                .modal-dialog
                  // Modal content
                  .modal-content
                    .modal-header(style='padding:35px 50px;')
                      button.close(type='button', data-dismiss='modal') ×
                      h4
                        span.glyphicon.glyphicon-cog
                        |  Privacy Settings
                    .modal-body(style='padding:40px 50px;')
                      .btn-group-vertical(role='group', aria-label='...')
                        h3
                          | My notes for #{book} are visible to:
                        button.btn.btn-default.btn-lg(type='button', id='None_#{index}') No one
                        button.btn.btn-default.btn-lg(type='button', id='All_#{index}') Everyone
                    .modal-footer
                      button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
                        span.glyphicon.glyphicon-remove
                        |  Cancel
              // End of settings button
      .row
        .col-md-12
          p
            input(type='button', value='Test Combined', onclick="location.href = 'http://localhost:80/combined'")
